@import url("https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0  bg-gray-500 text-white;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* Define custom scrollbar styles */

/* WebKit Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  border-radius: 14px;

}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2e2e2e; /* Adjust as needed */
  border-radius: 14px;
}

/* Mozilla Firefox Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  border-radius: 14px;
  scrollbar-color: #2e2e2e transparent; /* Adjust as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 14px;

}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2e2e2e; /* Adjust as needed */
  border-radius: 14px;
}


.shadow-custom {
  box-shadow: 0 4px 10px rgba(117, 207, 255, 0.1), 0 2px 6px rgba(117, 207, 255, 0.1);
}